.App {
  text-align: center;
}

.groceryItemDiv{
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
  margin: 10px;
  gap: 20px;
  color: red;
}
.groceryItemDiv>h3{
  margin: 0;
}
h1{
  color: red;
}